@page "/"
@inject IStringLocalizer<LocalizationResource> Loc
@inherits PartsGeneratorBase
@rendermode InteractiveServer

<PageTitle>Parts Generator</PageTitle>

<HeadContent>
    <meta name="description" content="Carpentry Parts Generator"
</HeadContent>

@if (Params == null)
{
    <DisplaySpinner />
}
else if (!string.IsNullOrWhiteSpace(ErrorMessage))
{
    <DisplayError ErrorMessage="@ErrorMessage" />
}
else
{
    <h1 class="mb-5 text-center">@Loc["PartsGenerator.Title"]</h1>

    <EditForm Model="@Params" OnSubmit="() => Calculate_Click(Params)" FormName="PartsGeneraorForm">
        <DataAnnotationsValidator />
        <div class="form-group col-md-2">
            <label for="bladeThickness">@Loc["PartsGenerator.Input.BladeThickness"] </label>
            <InputNumber @bind-Value="Params.BladeThickness" id="bladeThickness" class="form-control " />
            <label for="bladeThickness">mm</label>
        </div>

        <div class="form-group  col-md-2">
            <label for="direction">@Loc["PartsGenerator.Input.Direction"]</label>
            <InputSelect @bind-Value="Params.Direction" id="direction" class="form-control main-input">
                <option value="1">@Loc["Direction.Vertical"]</option>
                <option value="2">@Loc["Direction.Horizontal"]</option>
            </InputSelect>
        </div>

        <div class="form-group col-md-2">
            <label for="total-width">@Loc["PartsGenerator.Input.TotalWidth"] </label>
            <InputNumber @bind-Value="Params.TotalWidth" id="total-width" class="form-control main-input" />
            <label for="total-width">mm</label>
        </div>

        <div class="form-group col-md-2">
            <label for="total-height">@Loc["PartsGenerator.Input.TotalHeight"] </label>
            <InputNumber @bind-Value="Params.TotalHeight" id="total-height" class="form-control main-input" />
            <label for="total-height">mm</label>
        </div>

        <div class="form-group col-md-2">
            <label for="hypotenuse-type">@Loc["PartsGenerator.Input.HypotenuseType"]</label>
            <InputSelect @bind-Value="Params.HypotenuseType" id="hypotenuse-type" class="form-control main-input">
                <option value="1">@Loc["HypotenuseType.Interior"]</option>
                <option value="2">@Loc["HypotenuseType.Exterior"]</option>
            </InputSelect>
        </div>

        <hr class="my-3" />
        <div class="row">
            <h2>@Loc["PartsGenerator.PartsListTitle"]</h2>
            <div class="table-responsive">
                <table class="table max-w-90">
                    <thead>
                        <tr>
                            <th scope="col">@Loc["PartsGenerator.Input.Parts.Name"]</th>
                            <th scope="col">@Loc["PartsGenerator.Input.Parts.Width"]</th>
                            <th scope="col">@Loc["PartsGenerator.Input.Parts.Height"]</th>
                            <th scope="col">@Loc["PartsGenerator.Input.Parts.Qty"]</th>
                            <th scope="col">@Loc["PartsGenerator.Input.Parts.Actions"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var part in PartList.Select((value, index) => new { value, index }))
                        {
                            <tr>
                                <td><InputText @bind-Value="part.value.PartName" class="form-control"     @onchange="OnPartChange"/></td>
                                <td><InputNumber @bind-Value="part.value.PartWidth" class="form-control"  @onchange="OnPartChange"/></td>
                                <td><InputNumber @bind-Value="part.value.PartHeight" class="form-control" @onchange="OnPartChange"/></td>
                                <td><InputNumber @bind-Value="part.value.PartQty" class="form-control"    @onchange="OnPartChange"/></td>
                                <td>
                                    <div class="btn-group flex-wrap">
                                        <button type="button" class="btn btn-secondary" @onclick="() => AddPart(part.value)">
                                            @Loc["Actions.Add"]&thinsp;<i class="fa-regular fa-square-plus"></i>
                                        </button>
                                        <button type="button" disabled="@CheckIfDeleteDisabled()" class="btn btn-danger" @onclick="() => DeletePart(part.value)">
                                            @Loc["Actions.Delete"]&thinsp;<i class="fa-regular fa-trash-can"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <hr class="my-3" />
        <div class="row justify-content-end">
            <div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-2">
                <button type="submit" class="btn btn-primary w-100">
                    @Loc["Actions.Calculate"]&thinsp;<i class="fa-solid fa-square-root-variable"></i>
                </button>
            </div>
        </div>
        <hr class="my-3" />
    </EditForm>
    @if (invalidForm == true)
    {
        <div class="align-items-center" style="background-color:#d3000077" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body">
                    @ToastMessage.Message
                </div>
                <button type="button" class="btn-close me-2 m-auto" aria-label="Close" @onclick="ResetValidity"></button>
            </div>
        </div>
    }
   
}